body {
    background-color: rgb(240, 243, 239);
}
.content {
    width: 1200px;
    height: 1042px;
    margin-left: 80px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}
.title {
    width: 1000px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 50%;
    margin-left: -500px;
    background-color: rgb(215, 25, 33);
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: white;
}
.file {
    width: 1000px;
    height: 1000px;
    position: relative;
    top: 20px;
    left: 50%;
    margin-left: -500px;
}
.file_select {
    width: 1000px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(200, 200, 200);
}
.file_content {
    width: 1000px;
    height: 795px;
    border: 10px solid gray;
    border-radius: 20px;
    padding: 70px 20px 20px 20px;
}
.footer {
    width: 1000px;
    height: 50px;
    position: relative;
    top: -116px;
    left: 50%;
    margin-left: -500px;
    background-color: rgb(215, 25, 33);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
}
#textFile {
    position: relative;
    top: -75px;
    padding: 20px 10px 20px 10px;
    resize: none;
}
.file-content-title {
    width: 940px;
    height: 50px;
    position: relative;
    top: -60px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    color: gray;
}
.file-operate {
    width: 400px;
    position: relative;
    left: 550px;
    top: -120px;
}
.file-edit i,.file-save i, .file-export i {
    color: skyblue;
}
.file-select {
    width: 400px;
    position: relative;
    left: 150px;
}
.submit {
    position: relative;
    top: -60px;
    left: 80px;
}